<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mikenewswanger.mn-macbook-pro.backup.plist</string>
    <key>ProgramArguments</key>
    <array>
        <string>~/home_dir_backup.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>900</integer>
    <key>StandardOutPath</key>
    <string>/var/log/home-directory-backup.log</string>
</dict>
</plist>
